/bags/boot_camp/boot_camp.db3  
/bags/milestone0_perception/milestone0_perception_0.db3
/bags/milestone0_perception/milestone0_perception_0.db3
/bags/test_bag1/test_bag1_0.db3
/bags/test_2/test_2_0.db3
/bags/SLAMBAG2/SLAMBAG2_0.db3
/bags/SLAMBAG/SLAMBAG_0.db3
/bags/SLAMBAG3/SLAMBAG3_0.db3
/bags/ms1_detection_2/ms1_detection_2_0.db3
/bags/ms1_detection_1/ms1_detection_1_0.db3
/bags/SLAMBAG4/SLAMBAG4_0.db3
/bags/SLAMBAG5/SLAMBAG5_0.db3
./pyc
