[Desktop Entry]
Version=1.0
Name=Upload Solution
Exec=gnome-terminal -e "bash -c '/home/robot/workshop_ws/src/assets/workshop/upload.sh'"
Icon=/home/robot/workshop_ws/src/assets/workshop/upload.svg
Terminal=true
Type=Application
